In [20]:
# Importing Pandas, a data processing and CSV file I/O libraries
import os
import pandas as pd
import numpy as np
import seaborn as sns # Seaborn is a Python data visualization library based on matplotlib.
%matplotlib inline
import pathlib
from datetime import datetime
import math
import sys

import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
import matplotlib.dates as mdates

from sklearn import metrics
from sklearn.metrics import mean_absolute_error
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

import xgboost as xg

%matplotlib inline

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [21]:
# df_lag = pd.read_csv('/Users/yashwanthkaruparthi/Developer/energy_demand/research/data/8-feat-eng/feat-lag.csv')

df_clean = pd.read_csv('/Users/yashwanthkaruparthi/Developer/energy_demand/research/data/9-basic-feat/feat-basic.csv')

df_daily = pd.read_csv('/Users/yashwanthkaruparthi/Developer/energy_demand/research/data/7-usable/1-daily_data.csv')

In [22]:
df_clean.head()

   Unnamed: 0       temp  dew_point_temp    rel_hum  visibility       press  daily_demand      hmdxx  year  month  day_of_week  week_of_year  sun_set
0           0   0.575000       -1.387500  87.000000   17.841667   99.075833  14655.208333  -1.884900  1994      1            5            52     17.0
1           1  -8.704167      -12.445833  74.416667   28.387500   99.920000  15783.333333 -12.827363  1994      1            6            52     17.0
2           2 -12.612500      -15.820833  77.250000   10.404167  100.057083  18992.708333 -17.143932  1994      1            0             1     17.0
3           3  -9.833333      -13.570833  74.416667   24.879167   98.675417  19080.708333 -14.183286  1994      1            1             1     17.0
4           4 -11.866667      -16.154167  70.791667   27.033333   99.352083  19183.208333 -16.407695  1994      1            2             1     17.0

In [23]:
# df_clean.rename(columns = {'Unnamed: 0':'date'}, inplace = True)
# df_clean = df_clean.drop(['year'],axis=1)
# df_clean = df_clean.astype({'week_of_year':'string'})
# df_clean = df_clean.astype({'day_of_week':'string'})
# df_clean['date'] = pd.to_datetime(df_clean['date'])
# df_clean['year'] = df_clean['date'].dt.year
# df_clean['day'] = df_clean['date'].dt.day
# df_clean['month'] = df_clean['date'].dt.month

# print(df_clean)

In [24]:
# df_clean.rename(columns={'hourly_demand':'daily_demand'}, inplace=True)

### rolling window

In [25]:
# df_clean['demand_rolling_mean_3'] = df_clean['daily_demand'].rolling(window=3).mean()
# df_clean['demand_rolling_std_7'] = df_clean['daily_demand'].rolling(window=7).std()

In [26]:
df_clean.head()

   Unnamed: 0       temp  dew_point_temp    rel_hum  visibility       press  daily_demand      hmdxx  year  month  day_of_week  week_of_year  sun_set
0           0   0.575000       -1.387500  87.000000   17.841667   99.075833  14655.208333  -1.884900  1994      1            5            52     17.0
1           1  -8.704167      -12.445833  74.416667   28.387500   99.920000  15783.333333 -12.827363  1994      1            6            52     17.0
2           2 -12.612500      -15.820833  77.250000   10.404167  100.057083  18992.708333 -17.143932  1994      1            0             1     17.0
3           3  -9.833333      -13.570833  74.416667   24.879167   98.675417  19080.708333 -14.183286  1994      1            1             1     17.0
4           4 -11.866667      -16.154167  70.791667   27.033333   99.352083  19183.208333 -16.407695  1994      1            2             1     17.0

### Generating Lag features by one day and 7 day period

In [27]:
# df_clean['demand_lag_1'] = df_clean['daily_demand'].shift(1)
# df_clean['demand_lag_7'] = df_clean['daily_demand'].shift(7)

In [28]:
# for lag in range(1,8):
#   df_clean[f'demand_lag_{lag}'] = df_clean['daily_demand'].shift(lag)
#   df_clean[f'demand_lag_{lag}'] = df_clean['daily_demand'].shift(lag)
#   # df_clean[f'rel_hum_lag_{lag}'] = df_clean['rel_hum'].shift(lag)
#   # df_clean[f'wind_speed_lag_{lag}'] = df_clean['wind_speed'].shift(lag)

In [29]:
x = df_clean.loc[:, df_clean.columns != 'daily_demand'].values
y = df_clean.loc[:, 'daily_demand'].values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [30]:
xgb_r = xg.XGBRegressor(objective ='reg:squarederror', n_estimators = 10, seed = 123)

xgb_r.fit(x_train, y_train) 

pred = xgb_r.predict(x_test)

In [31]:
r_sq = metrics.r2_score(y_test,pred)

print(r_sq)

0.9112662136670563